[Unit]
Description=Go-Service for MyBestService
After=network.target
Requires=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/MyBestService
killSignal=SIGINT
TimeoutStopSec=30
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target